<!--
-
-   made by Tyler Benziger
-   @tybenz
-   github.com/tybenz
-   tybenz.com
-
-   site repo found here: http://github.com/tybenz/spamthe.net
-
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.description }}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-img/logo-precomposed" href="img/logo.png">
    <link rel="apple-touch-img/logo" href="img/logo.png">
    <link rel="apple-touch-img/logo" sizes="72x72" href="img/logo.png">
    <link rel="apple-touch-img/logo" sizes="114x114" href="img/logo.png">

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="img/icon.png" rel="shortcut icon">
    <script type="text/javascript">
      if ( window.location.host == "tybenz.com" ) {
        window.location = "http://spamthe.net"
      }
    </script>
</head>
<body>
  <div class="sidebar">
    <img src="img/logo.png" class="spam">

    <div id="newsletter-signup">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://github.us4.list-manage1.com/subscribe/post?u=6172d5d7e4c2b1d91619c479c&amp;id=b54e3213cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <p class="title">Let us spam your inbox</p>
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_6172d5d7e4c2b1d91619c479c_b54e3213cc" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>

    <ul class="social-links">
      <div class="social-links-inner">
        <li><a target="_blank" class="social social-twitter behance" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter dribbble" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter facebook" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter google" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter like" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter linkedin" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter pinterest" href="#"></a></li>
        <li><a target="_blank" class="social rss" href="feed.xml"></a></li>
        <li><a target="_blank" class="social social-twitter stumbleupon" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter twitter" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter vimeo" href="#"></a></li>
        <li><a target="_blank" class="social social-twitter youtube" href="#"></a></li>
      </div>
    </ul>
  </div>
  <div class="wrapper">
    <h1><marquee scrolldelay="60">spam in a can all over the net</marquee></h1>

    {{ content }}
  </div>
  <script type="text/javascript">
    var links = document.getElementsByClassName( 'social-twitter' );

    for ( var i = 0, len = links.length; i < len; i++ ) {
      link = links[i];
      link.addEventListener( 'click', function ( evt ) {
        evt.preventDefault();

        window.location = 'http://twitter.com/spamthenet';
      });
    }
  </script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48270913-1', 'spamthe.net');
    ga('send', 'pageview');

  </script>
</body>
</html>
